<% include top %>

<div class="jumbotron">
  <h1>SSN-Alentejo</h1>
  <p>This project started as part of Marco's PhD to build a high density sensor network. </p>
  <p>This work was extended to incorporate big data analytics from data collected by various class A and class B seismometers.  It received the support of the Science Foundation of Portugal (FCT) under grant number ALT20-03-0145- FEDER-031260.</p>
  <p><a href="/" class="btn btn-primary btn-lg">CLICK TO START</a></p>
</div>

<% include bottom %>
