<% include top %>

<div class="jumbotron">
  <h1>Seismic Site as part of Marco PhD</h1>
  <p>This is the ultimate kickass seismic website platform for 
  adding sensors and access sensor data in real time.</p>
  <p><a href="/" class="btn btn-primary btn-lg">CLICK TO START</a></p>
</div>

<% include bottom %>
