</div>

<footer class="bs-footer" role="contentinfo">
    <p>&copy; 2018 <a href="http://marcomanso.com" target="_blank">Marco Manso</a> | <a href="http://www.ict.uevora.pt" target="_blank">Instituto de Ciencias da Terra</a> | <a href="http://www.uevora.pt" target="_blank">Universidade de Evora</a></p>    
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/vendor/jquery/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
