<% include top %>

<div class="btn-group-vertical" role="group" style="width: 100%;">
  
<p>Error:  <%= message %> <%= error.status %></p>
<pre><%= error.stack %></pre>

</div>
  
<% include bottom %>
